@import url(https://fonts.googleapis.com/css?family=Montserrat);
.hero {
  height: 100vh;
  width: 100%;
  color: #fff;
  background: url("/static/base/images/bg.png");
  position: fixed;
  top: 0px;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-wrapper {
  margin-top: 200px;
}

.headings {
  width: 50%;
}

svg {
  display: block;
  font: 10.5em "Montserrat";
  width: 960px;
  height: 200px;
  margin: 0 auto;
}

.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: 6% 29%;
  stroke-width: 5px;
  stroke-dashoffset: 0%;
  -webkit-animation: stroke-offset 5.5s infinite linear;
  animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1) {
  stroke: #ffffff;
  -webkit-animation-delay: -1;
  animation-delay: -1;
}

.text-copy:nth-child(2) {
  stroke: white;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

.text-copy:nth-child(3) {
  stroke: #ffffff;
  -webkit-animation-delay: -3s;
  animation-delay: -3s;
}

.text-copy:nth-child(4) {
  stroke: #a8a6a7;
  -webkit-animation-delay: -4s;
  animation-delay: -4s;
}

.text-copy:nth-child(5) {
  stroke: #fdb731;
  -webkit-animation-delay: -5s;
  animation-delay: -5s;
}

@-webkit-keyframes stroke-offset {
  100% {
    stroke-dashoffset: -35%;
  }
}

@keyframes stroke-offset {
  100% {
    stroke-dashoffset: -35%;
  }
}

.button {
  width: 250px;
  background-color: #fff;
  border-radius: 30px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: uppercase;
  font-family: "Nunito";
  color: black;
  font-size: 1.3rem;
}

.button:hover {
  cursor: pointer;
  background-color: #969696;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.abt_desc {
  font-size: 1.1em;
  font-family: 'Fira Mono', monospace;
}

.rules_desc {
  font-family: 'Fira Mono', monospace;
}

.glitch-wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.025em -0.05em 0 rgba(0, 255, 0, 0.75), 0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  -webkit-animation: glitch 500ms infinite;
          animation: glitch 500ms infinite;
}

.glitch-wrapper .abt_img {
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  max-width: 400px;
}

@media screen and (max-width: 900px) {
  .glitch-wrapper .abt_img {
    height: 200px;
  }
}

.glitch-wrapper .glitch {
  font-size: clamp(3rem, 6vw, 6rem);
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
}

.glitch span {
  position: absolute;
  top: 0;
  left: 0;
}

.glitch span:first-child {
  -webkit-animation: glitch 650ms infinite;
          animation: glitch 650ms infinite;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
          clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
  -webkit-transform: translate(-0.025em, -0.0125em);
          transform: translate(-0.025em, -0.0125em);
  /* color: green; */
  opacity: 0.8;
}

.glitch span:last-child {
  -webkit-animation: glitch 375ms infinite;
          animation: glitch 375ms infinite;
  -webkit-clip-path: polygon(0 80%, 100% 20%, 100% 100%, 0 100%);
          clip-path: polygon(0 80%, 100% 20%, 100% 100%, 0 100%);
  -webkit-transform: translate(0.0125em, 0.025em);
          transform: translate(0.0125em, 0.025em);
  /* color: red; */
  opacity: 0.8;
}

/* https://web.dev/prefers-reduced-motion/#(bonus)-forcing-reduced-motion-on-all-websites */
@-webkit-keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.05em -0.025em 0 rgba(0, 255, 0, 0.75), -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  14% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.05em -0.025em 0 rgba(0, 255, 0, 0.75), -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  15% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75), 0.025em 0.025em 0 rgba(0, 255, 0, 0.75), -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  49% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75), 0.025em 0.025em 0 rgba(0, 255, 0, 0.75), -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  50% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75), 0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  99% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75), 0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  100% {
    text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75), -0.025em -0.025em 0 rgba(0, 255, 0, 0.75), -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
}
@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.05em -0.025em 0 rgba(0, 255, 0, 0.75), -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  14% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.05em -0.025em 0 rgba(0, 255, 0, 0.75), -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  15% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75), 0.025em 0.025em 0 rgba(0, 255, 0, 0.75), -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  49% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75), 0.025em 0.025em 0 rgba(0, 255, 0, 0.75), -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  50% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75), 0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  99% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75), 0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  100% {
    text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75), -0.025em -0.025em 0 rgba(0, 255, 0, 0.75), -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    -webkit-animation-delay: -1ms !important;
            animation-delay: -1ms !important;
    -webkit-animation-duration: 1ms !important;
            animation-duration: 1ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    -webkit-transition-duration: 0s !important;
            transition-duration: 0s !important;
    -webkit-transition-delay: 0s !important;
            transition-delay: 0s !important;
  }
}
/*# sourceMappingURL=styles.css.map */